div {
	border-radius: 5px;
	border: 2px solid black;
}

#interior {
    position:relative;
    margin-left:200px;
	height: 75px;
	width: 75px;
	background-color: #547980;
	/*¡Agrega tu CSS aquí!*/
	
}

#exterior{
	height: 500px;
	width: 150px;
	background-color: #45ADA8;
	position: absolute;
	margin-left: 100px;
}